AutoEq/__pycache__/
AutoEq/*.py[cod]
AutoEq/*$py.class

AutoEq/*.so

AutoEq/.Python
AutoEq/env/
AutoEq/build/
AutoEq/develop-eggs/
AutoEq/dist/
AutoEq/downloads/
AutoEq/eggs/
AutoEq/.eggs/
AutoEq/lib/
AutoEq/lib64/
AutoEq/parts/
AutoEq/sdist/
AutoEq/var/
AutoEq/wheels/
AutoEq/*.egg-info/
AutoEq/.installed.cfg
AutoEq/*.egg

AutoEq/*.manifest
AutoEq/*.spec

AutoEq/pip-log.txt
AutoEq/pip-delete-this-directory.txt

AutoEq/htmlcov/
AutoEq/.tox/
AutoEq/.coverage
AutoEq/.coverage.*
AutoEq/.cache
AutoEq/nosetests.xml
AutoEq/coverage.xml
AutoEq/*.cover
AutoEq/.hypothesis/

AutoEq/*.mo
AutoEq/*.pot

AutoEq/*.log
AutoEq/local_settings.py

AutoEq/instance/
AutoEq/.webassets-cache

AutoEq/.scrapy

AutoEq/docs/_build/

AutoEq/target/

AutoEq/.ipynb_checkpoints

AutoEq/.python-version

AutoEq/celerybeat-schedule

AutoEq/*.sage.py

AutoEq/.env

AutoEq/.venv
AutoEq/venv/
AutoEq/ENV/
AutoEq/env/

AutoEq/.spyderproject
AutoEq/.spyproject

AutoEq/.ropeproject

AutoEq//site

AutoEq/.mypy_cache/

AutoEq/.idea
AutoEq/inspect/
AutoEq/my_data/
AutoEq/my_results/
AutoEq/**/images
AutoEq/**/inspection
AutoEq/**/pdf
AutoEq/**/json
AutoEq/**/data/ignore
AutoEq/measurements/crinacle/*data*/
AutoEq/measurements/crinacle/Raw measurements (Patreon)/
AutoEq/results/crinacle/*/*/*.csv
AutoEq/chromedriver*